{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %}
  <form class="container mt-3">
    <h1>{{ review.title }}</h1>
    <span>작성시간 :
      {{ review.created_at }}
      | 수정시간 :
      {{ review.updated_at }}</span>
    <div class="mb-3 mt-3">
      <label for="reviewContent" class="form-label">내용</label>
      <textarea name='content' class="form-control" id="reviewContent" rows="3" disabled="disabled" readonly="readonly">{{ review.content }}</textarea>
    </div>
    <div class="mb-3">
      <label for="moviename" class="form-label">영화 제목</label>
      <textarea name='content' class="form-control" id="moviename" rows="3" disabled="disabled" readonly="readonly">{{ review.movie_name }}</textarea>
    </div>
    <div class="mb-3">
      <label for="reviewgrade" class="form-label">평점</label>
      <textarea name='content' class="form-control" id="reviewgrade" rows="3" disabled="disabled" readonly="readonly">{{ review.grade }}</textarea>
    </div>
    {% if request.user == review.user %}
      <div>
        <a class="btn btn-outline-primary my-3" href="{% url 'reviews:update' review.pk %}">수정하기</a>
        <a class="btn btn-outline-danger my-3" href="#">삭제하기</a>
      </div>
    {% endif %}
  </form>
{% endblock %}
